.container {
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.table-cont {
    width: 85%;
    padding: 2vw;
    margin: 0 auto;
}

.table {
    border-radius: 20px;
    color: #fff;
    font-size: var(--gen-font-size);
    font-family: 'geolight';
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    /* grid-template-columns: auto auto auto auto; */
    gap: 1vw;
}

.celem {
    background-color: rgba(10, 0, 0, 0.85);
    padding: 2vw;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.celem:hover {
    background-color: rgba(10, 0, 0, 0.95);
    transition: 0.5s;
}

#t-elem1 {
    font-family: 'moniqa-black';
    font-size: 60px;
    grid-column: 1/4;
    grid-row: 1/3;
    letter-spacing: 2px;
}

#t-elem2 {
    background-image: url("../images/icon1.png");
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 1/4;
    transition: 0.5s;
    animation: buttonanim 10s infinite forwards;
}

@keyframes buttonanim {
    0% {
        box-shadow: 0 0 15px rgb(255, 0, 0, 0.9);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 15px rgb(255, 0, 0, 0.9);
    }
}

#t-elem2:hover {
    background-image: url("../images/icon-home.png");
    transition: 0.5s;
}

#t-elem3 {
    grid-column: 1/3;
    grid-row: 3/5;
}

#t-elem4 {
    grid-row: 3/5;
    background-image: url("../images/image1.jpg");
    background-size: 120%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#t-elem6 {
    grid-column: 1/5;
}

#t-elem7 {
    grid-column: 1/3;
    grid-row: 6/8;
    background-image: url("../images/image2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#t-elem8 {
    grid-row: 6/8;
}

#t-elem11 {
    grid-column: 1/3;
}

#t-elem12 {
    grid-column: 3/5;
}

#t-elem13 {
    grid-column: 1/5;
}

#t-elem13>a {
    text-decoration: none;
    color: #fff;
    font-size: var(--gen-font-size);
    font-family: 'geolight';
    transition: 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#t-elem13>a:hover {
    border-bottom: 1px solid #fff;
    transition: 0.5s;
}

@media only screen and (max-width: 900px) {
    .table {
        --gen-font-size: 3vw;
        gap: 2vw;
    }
    #t-elem1 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 500px) {
    .celem {
        padding: 3vw;
    }
    .table {
        --gen-font-size: 3vw;
        gap: 2vw;
    }
    #t-elem1 {
        font-size: 5vw;
    }
}